//color
$mauBgTop: #2c3e50;
$mauFont: white;
$mauBgShop: #21303f;
$mauBgIconShop: #1abc9c;
//anh su dung trong giao dien
$anhLogo: "img/logo.png";
$heightLogo: 45px;
//font
$fontChu:'Lato', sans-serif;
//fontSize
$sizeSmall: 13px;
$sizeMedium: 14px;
$sizeLarge: 15px;

body{
    overflow-x: hidden;
}
.top{
    background-color: $mauBgTop;
    height: 50px;
    line-height: 50px;
    color:$mauFont;
    .left{
        z-index: 3;
        .top-ngonngu{
            z-index: 3;
            cursor: pointer;
            font-weight: bold;
            font-size: $sizeMedium;
            font-family: $fontChu;
            b{
                i{
                    padding-left:10px;
                }
            }
            .cacngonngu{
                z-index: 3;
                text-align: center;
                width: 150px;
                border: 1px solid $mauBgIconShop;
                a{
                    text-decoration: none;
                    background-color: #2c3e50;
                    border-bottom: 1px solid $mauBgIconShop;
                    display:block;
                    color:$mauFont
                }
                a:hover{
                    background: $mauBgIconShop;
                }
                
            }
        }
    }
    .right{

        .nut{
            display: inline;
            a.btn{
                text-decoration: none;
                background-color: $mauBgShop;
                font-size: $sizeSmall;
                font-family: $fontChu;
                font-weight: bold;
                padding: auto 10px;
                border: none;
                i{
                    color:$mauBgIconShop;
                    padding-right:6px;
                }
            }
        }
        .caclink{
            display:inline;
            a{
                text-decoration: none;
                color:white;
                padding-left: 16px;
                font-size:$sizeSmall;
            }
            a:hover{
                color:$mauBgIconShop;
            }
        }
    }
}

.menuandlogo{
    
    z-index: 1;
    height:90px;
   
    .navbar{
        z-index: 1;
        margin:0px;
        padding:0px;
        height:90px;
     
        .navbar-brand{
            z-index: 1;
            img{
                width: 100%;
            }
        }
        .timkiem{
            flex-flow: nowrap;
            input{
                width:100px!important;
            }
            
        }
        ul.navbar-nav{
            margin:0px;
            padding:0px;
            li.nav-item{
                
                a.nav-link{
                    
                    margin:0px;
                    padding:0px;
                    padding-left:10px;
                    padding-right: 10px;
                
                    font-weight:900;
                    color:$mauBgTop;
                    font-size:$sizeLarge;
                    text-transform: uppercase;
                }
                a.nav-link:hover{
                    color:$mauBgIconShop;
                }
            }
        }
    }
}
// end menu va logo
.tieude{
    height: 120px;
    line-height: 120px;
    background: #ffffff;
    position: relative;
    &:after{
        content:'';
        width:100%;
        position: absolute;
        height:40px;
        top:0;
        background-image: -webkit-linear-gradient(top, #cccccc6b, white);    }
    .left{
        b{
            font-family: $fontChu;
            font-size:30px;
            font-weight: 400;
            button{
                color:#a1b1bc;
                border: 1px solid #ecf0f1;
            }
        }

    }
    .right{
        .breadcrumb{
            background: none;
            width: 100%;
            padding:0;
            margin:0;
            a.breadcrumb-item{
                text-decoration: none;
                font-size: 14px;
                font-family: $fontChu;
                color:#bbc6ce;
                &:first-child:before{
                    content:'';
                }
                &:before{
                    content:"\f105";
                    display:inline-block;
                    font: normal normal 14px/1 FontAwesome;
                    font-size:inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                }
            }
            a.breadcrumb-item:hover{
                color:$mauBgShop
            }
        }
    }
}
//end tieude
.slideranh{
    height: 260px;
    .slide{
        .carousel-inner{
            .carousel-item{
                img{
                    height: 100%;
                }
            }
        }
        .prev{
            width: 55px;
            height:55px;
            line-height: 50px;
            background-color: white;
            .carousel-control-prev-icon {
                filter: invert(100%);
            }
        }
        .next{
            width: 55px;
            height:55px;
            line-height: 50px;
            background-color: white;
            .carousel-control-next-icon{
                filter: invert(100%);
            }
        }
   

    }
}//slider anh

.danhmuc{
    margin-top: 70px;
    background-color: white;
    .cacdanhmuc{
        .muitenlen{
            background-color: #a1b1bc;
            height:40px;
            margin-right:15px;
            color:white;
        }
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        .right{
            .dropdown{
                .btn-secondary{
                    width: 25px!important;
                  
                }
            }
        }
        ._1danhmuc{
            margin-right: auto;
            margin-left:auto;
            margin-bottom: 20px;
            margin-right: 15px;
            width: 250px;
            height:40px;
            .dropdown{
                width: 100%;
                .btn{
                    width: 200px;
                    font-family: $fontChu;
                    background-color: white;
                    border: 1px solid #a1b1bc;

                    color:#a1b1bc;
                    b{
                        color:$mauBgShop;
                    }
                    i{
                        color:#a1b1bc;
                    }
                }
                .btn:focus{
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(2, 128, 128, 0.25);
                }
                .btn-secondary{
                    padding-left: 10px;
                    width: 30px;
                    padding-right: 10px;
                }
                .btn-secondary:focus{
                      outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(2, 128, 128, 0.25);
                }
            
            }
        }

    }
}
// end danhmuc
.danhsachsanpham{
    margin-top: 60px;
    .card:hover{
        &:after{

            opacity: 0.3;
        }
        .card-img-top{

            transform: scale(1.1);
        }
        .card-body{
            background-color: #2c3e50;
            h4{
                color:white;
                a{
                    color:white;
                }
            }
            .price{
                color:white;
            }
            .mua{
                border-top: 2px solid #3f4f5f;

            }
        }
     
    }
    .card{
        z-index: 1;

        overflow: hidden;

        transition: 0.4s;
        position: relative;
        &:after{
            overflow: hidden;

            transition: 0.6s;
            content:"";
            position: absolute;
            background-color: black;
            opacity: 0;
            top: 0;
            left:0;
            width: 100%;
            height: 530px;
         
        }
        .card-img-top{
            transition: 0.6s;

            width: auto;
            height: 530px;    
            transform: scale(1);
        }
     
        transition: 0.4s;
        border: 2px solid #e6e6e6;
        .card-body{
            z-index: 2;
            transition: 0.4s;

            padding: 0;
            h4{
                padding: 0px 20px;
                margin-bottom: 5px;
                a{
                    text-decoration: none;
                    color: #586470;
                    font-weight: bold;
                    font-size:17px;
                }
            }
            .card-text{
                padding: 0px 20px;

                margin-bottom: 5px;
                color:#a1b1bc;
                .active{
                    color:$mauBgIconShop;
                }
            }
            .price{
                padding: 0px 20px;

                margin-bottom: 5px;
    
                font-size: $sizeMedium;
                font-family: $fontChu;
                color:#a1b1bc;
    
            }
            .mua{
                padding: 10px;
                color:#a1b1bc;
                border-top: 2px solid #e6e6e6;
                p{
                    color:#a1b1bc;
                    color: #586470;

                    i{
                        padding-right:5px;
                    }
                    margin: 0px;
                }
                p:hover{
                    color:#a1b1bc;
                }
            }
          
        }
        margin-bottom: 30px;
        font-family: $fontChu;
       
    }
    .danhsachtrang{
        margin-top: 50px;
        .btn{
            border: 1px solid #dae0e2;
            border-radius: 8px;
        }
      .btn:hover{
          background-color: #1abc9c!important;
      }
      .active{
        background-color: #1abc9c!important;

      }
    }
}
//end danhsachsanpham

.list-logo{
    margin-top:100px;
    .carousel-inner{
        .carousel-item{
            img{
                width: 100%;
            }
        }
    }
    .carousel-control-prev{
        top:35%;
        left: -100px;
        width: 55px;
        height:55px;
        line-height: 50px;
        background-color: #34495e;
        .carousel-control-prev-icon {
            filter: invert(100%);
        }
        &:hover{
            background-color: #1abc9c;
        }
    }
    .carousel-control-next{
        top:35%;
        right: -100px;

        width: 55px;
        height:55px;
        line-height: 50px;
        background-color: #34495e;
        .carousel-control-next-icon{
            filter: invert(100%);
        }
        &:hover{
            background-color: #1abc9c;
        }
    }

}
//end logo
.logan{
    background-color: #a1b1bc;
    height: auto;
    line-height: 100px;
    .text-center{
        font-size:23px;
        color:#eaedef;
        font-weight: lighter;
    }
}
//end logan
.info{
    background-color: #1a1c27;
    .list-info{
        padding-top:80px;
        .more{
            color:#6c7b86;
            font-family: $fontChu;
            p{
                margin-top:40px;
            }
            a{
                i{
                    padding-right: 5px;
                }
                text-decoration: none;
                color:#1a9e85;
            }
            .list-icon{
                margin-top: 40px;
                .box{
                    box-sizing: border-box;
                    display:flex;
                    height: 30px;
                    margin-bottom: 30px;
                    .icon{
                        margin-right: 10px;
                        img{
                            width: 30px;
                        }
                    }
                    .text{
                        h4{
                            font-size:15px;
                            font-weight: bold;
                            padding:0px;
                            margin:0px;
                        }
                        p{
                           
                            margin:0px;
                        }
                    }
                }
            
            }
        }
        .product{
            h6{
                color:white;
                font-family: $fontChu;
                margin-bottom: 40px;
                font-weight: bold;
            }
            .box{
                margin-bottom:40px;
                display:flex;
                font-family: $fontChu;
                color:white;
                .left{
                    margin-right:20px;

                    img{
                        width: 85px;
                    }
                }
                .right{
                    .card-title{
                        margin-bottom:5px;

                        a{
                            color:white;
                            font-family: $fontChu;
                            font-size:15px;
                        }
     
                     }
                     .card-text{
                        color:#a1b1bc;
                        margin-bottom:5px;

                     }
                     .active{
                         color:#1abc9c;
                     }
                     .price{
                        margin:0px;
                     }
                }
               
            }
        }
        .contact{
            h6{
                color:white;
                font-family: $fontChu;
                margin-bottom: 40px;
                font-weight: bold;
            
            }
            .box{
                margin-bottom: 40px;
                h6{
                    color:#a1b1bc;
                    font-family: $fontChu;
                    font-weight: bold;
                    margin-bottom:20px;
                    font-size:15px;
                    font-weight: 500;
                }
                p{
                    color:#63717b;
                    font-family: $fontChu;
                    font-size:13px;
                }
            }
        }
    }
    

}
// info
@import "mobile";